<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a Senha</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <form action="/sendcode" method="post" class="form">
            <h1>Esqueceu a Senha</h1>
            <p style="color: #fff; margin-top: 10px;">Um código de recuperação vai ser enviado ao seu email de recuperação.</p>
            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="Coloque o seu e-mail">
            </div>
            <input type="submit" value="Enviar código" class="btn">
        </form>
        <form action="/verifycode" method="POST" class="form">
            <div class="input-box">
                <input type="text" id="code" name="code" placeholder="Código de Recuperação" required>
            </div>
            <button type="submit" class="btn">Verificar código</button>
        </form>
    </div>
</body>

</html>