<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a Senha</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <form action="/sendPhoneCode" method="POST" class="form">
            <h1>Esqueceu a Senha</h1>
            <p style="color: #fff; margin-top: 10px;">Um código de recuperação será enviado ao seu telefone cadastrado.</p>
            <div class="input-box">
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Código de Recuperação" required>
            </div>
            <button type="submit" class="btn">Verificar código</button>
            <div class="login-link">
                <p style="color: #fff; margin-top: 10px;">Sem acesso a este telefone? <a href="index.ejs" style="color: #fff; font-weight: 700;">Faça um novo cadastro</a></p>
            </div>
        </form>
    </div>
</body>

</html>
