@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('preview.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto; /* Permite rolagem vertical quando necessário */
}
.wrapper{
    width: 420px;
    max-width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 30px 40px;
    border-radius: 10px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;  
}

.input-box input::placeholder{
    color: #fff;
}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #ffffff;
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a{
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}
.termos_uso a{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #ffffff;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px; 
    color: #fff;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.register-link p a:hover{
    text-decoration: underline;
}
/*Hover do botão e a responsividade*/

.termos {
    width: 900px;
    max-width: 900px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 30px 40px;
    border-radius: 10px;
    z-index: 10;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.termos h1 {
    font-size: 36px;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 0;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

.termos p {
    font-size: 14.5px;
    color: #fff;
    text-align: left;
    padding: 15px 20px;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 0;
}

.termos li {
    font-size: 14.5px;
    color: #fff;
    text-align: left;
    white-space: normal;
}

.termos p + ul {
    margin-top: 0;
    padding-top: 0;
}

.termos p {
    margin-bottom: 0;
}

/* Estilo do botão */
.btn {
    color: #000;
}

/* Efeito de hover no botão */
.btn:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Leve transparência ao passar o mouse */
    border-color: #ddd; /* Borda cinza-claro no hover */
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
